.wrapper {
  box-shadow: 4px 4px 4px #818181;
  width: 300px;
  margin: 0 auto;
  padding: 16px;
}

h3 {
  margin-top: 0;
}

div {
  border: 1px solid #525050;
  padding: 5px;
}

img {
  width: 300px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

span {
  font-weight: bold;
}